.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .addAll{
  z-index: 1 !important;
} */
.navv{
    min-width: 90vw !important;
    z-index: 1 !important;
    box-shadow: 0px 2px 6px rgb(199, 199, 199);
}
.ttl{
  margin-top: 1rem;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'FontAwesome';
  font-weight: 700;
  font-size:x-large;
  padding: 0px 1rem;
  border: none !important;
  color: rgb(48, 0, 0);
}
body{
  /* background-image: linear-gradient(to bottom right, rgba(71, 20, 20, 0.096), rgba(71, 20, 20, 0.466)) !important;
  background: cover; */
  background-color: rgb(255, 255, 255) !important;
}
.navItem{
  display: flex !important;
  justify-content:space-around!important;
  font-weight: 700;
}
.navItems:hover{
  color: rgba(71, 20, 20, 0.863) !important;
  text-decoration: underline;
  text-decoration-thickness: 15%;
}

.title{
  border-radius: 0.2rem;
  font-family: sans-serif;
  color: rgba(71, 20, 20, 0.863);
  /* box-shadow: 2px 2px 4px rgb(161, 161, 161); */
  background-image: linear-gradient(to bottom right, rgba(71, 20, 20, 0.096), rgba(71, 20, 20, 0.466)) 
}
.btn{
  padding: 8px 0px !important;
  background-color:rgba(71, 20, 20, 0.863) !important;
  color: white !important;
  border-radius: 2rem !important;
  max-width: 12rem !important;
  min-width: 9rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-weight: 400 !important;
  font-size: small !important;
}
.btn:active{
  background-color: black !important;
}
.btn:hover{
  transition:  0.17s;
  transform:scale(1.1,1.1);
}
/* #login{
  background-color: transparent !important;
  color: rgba(71, 20, 20, 0.863) !important;
  border: 1px solid rgba(71, 20, 20, 0.863) !important;
} */
.head{
  /* background-color: rgb(236, 236, 236); */
  width: auto;
  margin: 40%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: black;
}
input{
  padding: 0.8em 3rem !important;
  border-bottom: 1px solid black !important;
  background-color: rgb(255, 255, 255);
  border: none;
  
}
.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
  z-index: 1 !important;
}
.popupErr{
  margin-top: 20vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  
}
.form_pp{
  filter: none !important;
  max-height: 90vh;
  margin-top: 15vh !important;
  max-width: 37rem !important;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 1rem;
  box-shadow: 0px 1px 7px rgb(41, 41, 41);
  z-index: 1 !important;
}
#sbmt{
  border-radius: 2rem;
}
.parent{
  display: flex;
  justify-content: center;
}
.cnl{
  color: rgba(71, 20, 20, 0.863);
  display: flex;
  justify-content: end;
  align-items: end;
}
.cancel{
  padding-top: 10px !important;
  padding: 0.3rem 1.2rem !important;
  background-color: rgba(71, 20, 20, 0.863);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-weight: 400 !important;
  font-size: small !important;
}
.cancel:active{
  color: white;
  background-color: black;
}
#cf{
  color: rgba(71, 20, 20, 0.863);
  font-size: xx-large;
  font-weight: bolder;
}

.alert{
  z-index: 2 !important;
  position: fixed !important;
  top: 15vh;
  left: calc(100% - 25rem);
  max-width: 25rem;
}
@media only screen and (max-width: 600px) {
  #popup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100% auto;
    height: 100% auto;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }

  .alert{
    justify-content: center !important;
    z-index: 2 !important;
    position: fixed !important;
    left: 0.1vw;
    top: 15vh;
    min-width: 100% !important;
  }
}
#popup{
  position: absolute;
  top: 0;
  left: 0;
  width: 100% auto;
  height: 100% auto;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 1 !important;
}
label{
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}
input{
  display: block;
  width: 100%;
}
#errorMess{
  margin: 0;
  padding: 0;
  color: red;
  font-size: 0.9rem;
}
.allEmployee{
  z-index: 0 !important;
}
.crd{
  border-radius: 0px !important;
  border: 1px solid rgb(184, 184, 184) !important;
  border-bottom-left-radius: 12px !important;
  /* background-image: linear-gradient(to bottom right, rgba(71, 20, 20, 0.096), rgba(71, 20, 20, 0.466)) !important;
  background: cover;  */
}
.crd1{
  border-radius: 0px !important;
  border: none !important;
  border-top-right-radius: 12px !important;
  background-image: linear-gradient(to bottom right, rgba(71, 20, 20, 0.151), rgba(44, 133, 81, 0.582)) !important;
  background: cover; 
  color: black !important;
  text-align: center;
}
.btn_del{
  background-color: rgb(150, 0, 0) !important;
  border: 1px solid transparent !important;
  color: white !important;
}

.btn_edit{
  background-color: rgba(71, 20, 20, 0.863) !important;
  color: white !important;
  border: 1px solid transparent !important;
}
.for_font{
  font-weight: 800;
}
.footer{
  background-color: #f9f7ff !important;
  color: black;
  box-shadow: 0px 0px 5px gray;
  margin-top: 1rem;
}
.login-div{
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 1rem;
}
@media screen and (max-width: 992px) {
  .login-div {
    padding: 0 !important;
    display: flex  !important;
    justify-content: start !important;
  }
  .navItem{
    display: flex !important;
    display: inline-block;
    flex-direction: column;
    font-weight: 700;
  }
}
a{
  text-decoration: none !important;
}
.link-btn{
  background-color: transparent;
  border: none;
  color: rgb(87, 87, 87);
}
.porfile-icon{
  padding: 0.5rem 0.6rem;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50%;
  /* background: linear-gradient(to bottom right, rgba(71, 20, 20, 0.151), rgba(44, 133, 81, 0.582)) !important; */
}
.pfl{
  border: none;
  background-color: transparent;
}
.google{
  font-size: xx-large;
}
.login-icon{
  box-sizing: border-box;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.685);
  box-shadow: 2px 2px 5px rgb(194, 194, 194);
}
.login-words{
  padding-left: 8px;
  color: rgb(99, 99, 99);
}
.icn{
  color: red;
  font-weight: 800;
  font-size: xx-large;
}
.sm-login{
  background: transparent;
  border: none;
  font-family: monospace;
  font-weight: 600;
  color: rgb(61, 61, 61);
}
.fnt{
  font-family: monospace;
  font-weight: 600;
  color: rgb(51, 51, 51);
}
.dont-have-acount{
  color: gray !important;
}
.link-btn:active{
  color: blue;
}
.link-btn:hover{
  color: blue !important;
}
.navItem{
  display: flex !important;
  flex-direction: column;
}
.sm-login:active{
  color: blue;
}
.sm-login:hover{
  color: black;
}
.alrtt{
  text-align: center !important;
}
.pfl-icon{
  color: black;
}


